<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation with Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinate()" expand="block">Geolocation</ion-button>
    <ion-list>
      <ion-list-header>
        <ion-label>Coordinates of Location</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Latitude</ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Longitude</ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>
